
@{
    ViewData["Title"] = "About";
}
<style>
    body {
        background-color: antiquewhite;
    }

    h1{
        text-align: center;
        font-family: 'Times New Roman';
       
    }

    hr {
        border-top: 1px solid black;
        padding-bottom: 25px;
    }
    .section1{
       display: inline-flex;
       height: 400px;
       flex-direction: row;
       align-content: flex-end;
       padding-bottom: 20px;
       
    }

    .section2 {
        display: inline-flex;
        height: 400px;
        flex-direction: row-reverse;
       
    }

    .text-container {
            width: 70%;
            
        }

    p{
        line-height: 1.5;
        text-align: justify;
    }



</style>
<body>
    <h1>Humble Beginnings</h1>
    <hr />
    <div class="section1">
        <div class="left">
            <div class="text-container">
                <h1>History</h1>
                <p>
                    From drawing Superheroes, to dressing up like them at comic con
                    Comic Haven was just one of those pipe dreams every comic book fan had.
                    Bringing joy and providing a home for many out there who feel they don't
                    belong. Comic Haven was build as a place they can be themselves a place they
                    can call home, a comic haven to visit their favourite hero, to be inspired.
                </p>

            </div>
        </div>
        <div class="right">
            <img src="~/Images/powsoundeffect.svg" height="300;" width="500;" />
        </div>
    </div>
    <div class="section2">
        <div class="left">
            <img src="~/Images/1438074995.svg"   height="300;" width="500;"/>
        </div>
        <div class="right">
            <div class="text-container">
                <h1>For the fans</h1>
                <p>
                    Excelsior! As someone once said. Be true to yourself
                    and know you will always have a place to call home at
                    Comic Haven. Thank you for your continued support.
                    
                </p>

            </div>
        </div>
    </div>


</body>


