
@{
    ViewData["Title"] = "News";
}
<body>
    <h1>News</h1>
    <p>
        To keep up with the latest comic book
        releases please click the following link to see what's up
        and coming to comic book stores near you <a href="https://readersden.co.za/">New Releases</a>.
    </p>
</body>


